force-app/main/default/flows/Create_Commission_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Create the Commission Detail Record when the Deal is Closed Won</description>
    <interviewLabel>Create Commission Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Commission Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Commission_Detail</name>
        <label>Create Commission Detail</label>
        <locationX>176</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Update_Deal_Commission_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Commission_Type__c</field>
            <value>
                <elementReference>CommissionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal__c</field>
            <value>
                <elementReference>DealId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Referral_Fee__c</field>
            <value>
                <elementReference>InternalReferralFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Referral__c</field>
            <value>
                <elementReference>InternalReferral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Commission_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Updates the Commission Detail Lookup on the Deal after creation</description>
        <name>Update_Deal_Commission_Detail</name>
        <label>Update Deal Commission Detail</label>
        <locationX>389</locationX>
        <locationY>346</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DealId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commission_Detail__c</field>
            <value>
                <elementReference>Create_Commission_Detail</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Commission_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Commission Type from the Deal</description>
        <name>CommissionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Type of the Deal</description>
        <name>DealType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalReferral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalReferralFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the Originator of the Deal</description>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
