force-app/main/default/flows/DocuSign_Abbreviated_States.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The DocuSign_Abbreviated_States-1 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke DocuSign_Abbreviated_States-1, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nick.s@cvest.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The DocuSign_Abbreviated_States-1 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke DocuSign_Abbreviated_States-1, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nick.s@cvest.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Reference</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.MailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SObject.MailingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>MatchCriteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Transpose Abbreviated States to Full State Name</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE(&quot;Mailing State/Province&quot;,&apos;AL&apos;,&apos;Alabama&apos;,
&apos;AK&apos;,&apos;Alaska&apos;,
&apos;AZ&apos;,&apos;Arizona&apos;,
&apos;AR&apos;,&apos;Arkansas&apos;,
&apos;CA&apos;,&apos;California&apos;,
&apos;CO&apos;,&apos;Colorado&apos;,
&apos;CT&apos;,&apos;Connecticut&apos;,
&apos;DE&apos;,&apos;Delaware&apos;,
&apos;FL&apos;,&apos;Florida&apos;,
&apos;GA&apos;,&apos;Georgia&apos;,
&apos;HI&apos;,&apos;Hawaii&apos;,
&apos;ID&apos;,&apos;Idaho&apos;,
&apos;IL&apos;,&apos;Illinois&apos;,
&apos;IN&apos;,&apos;Indiana&apos;,
&apos;IA&apos;,&apos;Iowa&apos;,
&apos;KS&apos;,&apos;Kansas&apos;,
&apos;KY&apos;,&apos;Kentucky&apos;,
&apos;LA&apos;,&apos;Louisiana&apos;,
&apos;ME&apos;,&apos;Maine&apos;,
&apos;MD&apos;,&apos;Maryland&apos;,
&apos;MA&apos;,&apos;Massachusetts&apos;,
&apos;MI&apos;,&apos;Michigan&apos;,
&apos;MN&apos;,&apos;Minnesota&apos;,
&apos;MS&apos;,&apos;Mississippi&apos;,
&apos;MO&apos;,&apos;Missouri&apos;,
&apos;MT&apos;,&apos;Montana&apos;,
&apos;NE&apos;,&apos;Nebraska&apos;,
&apos;NV&apos;,&apos;Nevada&apos;,
&apos;NH&apos;,&apos;New Hampshire&apos;,
&apos;NJ&apos;,&apos;New Jersey&apos;,
&apos;NM&apos;,&apos;New Mexico&apos;,
&apos;NY&apos;,&apos;New York&apos;,
&apos;NC&apos;,&apos;North Carolina&apos;,
&apos;ND&apos;,&apos;North Dakota&apos;,
&apos;OH&apos;,&apos;Ohio&apos;,
&apos;OK&apos;,&apos;Oklahoma&apos;,
&apos;OR&apos;,&apos;Oregon&apos;,
&apos;PA&apos;,&apos;Pennsylvania&apos;,
&apos;RI&apos;,&apos;Rhode Island&apos;,
&apos;SC&apos;,&apos;South Carolina&apos;,
&apos;SD&apos;,&apos;South Dakota&apos;,
&apos;TN&apos;,&apos;Tennessee&apos;,
&apos;TX&apos;,&apos;Texas&apos;,
&apos;UT&apos;,&apos;Utah&apos;,
&apos;VT&apos;,&apos;Vermont&apos;,
&apos;VA&apos;,&apos;Virginia&apos;,
&apos;WA&apos;,&apos;Washington&apos;,
&apos;WV&apos;,&apos;West Virginia&apos;,
&apos;WI&apos;,&apos;Wisconsin&apos;,
&apos;WY&apos;,&apos;Wyoming&apos;,
&apos;Other&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0693286633</name>
        <dataType>String</dataType>
        <expression>CASE(&quot;Mailing State/Province&quot;,&apos;AL&apos;,&apos;Alabama&apos;,
&apos;AK&apos;,&apos;Alaska&apos;,
&apos;AZ&apos;,&apos;Arizona&apos;,
&apos;AR&apos;,&apos;Arkansas&apos;,
&apos;CA&apos;,&apos;California&apos;,
&apos;CO&apos;,&apos;Colorado&apos;,
&apos;CT&apos;,&apos;Connecticut&apos;,
&apos;DE&apos;,&apos;Delaware&apos;,
&apos;FL&apos;,&apos;Florida&apos;,
&apos;GA&apos;,&apos;Georgia&apos;,
&apos;HI&apos;,&apos;Hawaii&apos;,
&apos;ID&apos;,&apos;Idaho&apos;,
&apos;IL&apos;,&apos;Illinois&apos;,
&apos;IN&apos;,&apos;Indiana&apos;,
&apos;IA&apos;,&apos;Iowa&apos;,
&apos;KS&apos;,&apos;Kansas&apos;,
&apos;KY&apos;,&apos;Kentucky&apos;,
&apos;LA&apos;,&apos;Louisiana&apos;,
&apos;ME&apos;,&apos;Maine&apos;,
&apos;MD&apos;,&apos;Maryland&apos;,
&apos;MA&apos;,&apos;Massachusetts&apos;,
&apos;MI&apos;,&apos;Michigan&apos;,
&apos;MN&apos;,&apos;Minnesota&apos;,
&apos;MS&apos;,&apos;Mississippi&apos;,
&apos;MO&apos;,&apos;Missouri&apos;,
&apos;MT&apos;,&apos;Montana&apos;,
&apos;NE&apos;,&apos;Nebraska&apos;,
&apos;NV&apos;,&apos;Nevada&apos;,
&apos;NH&apos;,&apos;New Hampshire&apos;,
&apos;NJ&apos;,&apos;New Jersey&apos;,
&apos;NM&apos;,&apos;New Mexico&apos;,
&apos;NY&apos;,&apos;New York&apos;,
&apos;NC&apos;,&apos;North Carolina&apos;,
&apos;ND&apos;,&apos;North Dakota&apos;,
&apos;OH&apos;,&apos;Ohio&apos;,
&apos;OK&apos;,&apos;Oklahoma&apos;,
&apos;OR&apos;,&apos;Oregon&apos;,
&apos;PA&apos;,&apos;Pennsylvania&apos;,
&apos;RI&apos;,&apos;Rhode Island&apos;,
&apos;SC&apos;,&apos;South Carolina&apos;,
&apos;SD&apos;,&apos;South Dakota&apos;,
&apos;TN&apos;,&apos;Tennessee&apos;,
&apos;TX&apos;,&apos;Texas&apos;,
&apos;UT&apos;,&apos;Utah&apos;,
&apos;VT&apos;,&apos;Vermont&apos;,
&apos;VA&apos;,&apos;Virginia&apos;,
&apos;WA&apos;,&apos;Washington&apos;,
&apos;WV&apos;,&apos;West Virginia&apos;,
&apos;WI&apos;,&apos;Wisconsin&apos;,
&apos;WY&apos;,&apos;Wyoming&apos;,
&apos;Other&apos;)</expression>
    </formulas>
    <interviewLabel>DocuSign_Abbreviated_States-1_InterviewLabel</interviewLabel>
    <label>DocuSign Abbreviated States</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SObject</outputReference>
        <queriedFields>MailingState</queriedFields>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contact]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>UpdateState</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Mailing State/Province</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MailingState</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0693286633</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
