force-app/main/default/flows/Update_Commission_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update Commission Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Commission Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProcessDefinition</name>
        <label>GetProcessDefinition</label>
        <locationX>175</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProcessInstance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commission Detail Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessInstance</name>
        <label>GetProcessInstance</label>
        <locationX>465</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProcessInstanceStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProcessDefinition.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommissionDetailId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessInstanceStep</name>
        <label>GetProcessInstanceStep</label>
        <locationX>733</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Comment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProcessInstance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Comment</name>
        <label>Update Comment</label>
        <locationX>924</locationX>
        <locationY>475</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommissionDetailId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Comments__c</field>
            <value>
                <elementReference>GetProcessInstanceStep.Comments</elementReference>
            </value>
        </inputAssignments>
        <object>Commission_Detail__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetProcessDefinition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommissionDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
